body{
	background-color: #ffffff;
}

.menu-wrapper:hover .menu {
	left: 0;
}

.slider-container {
	padding-top: 40px;
	margin-right: 40px;
}

.slider-wrapper {
	border-radius: 16px;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.carousel-caption-static {
	text-align: center;
	color: gold;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 12px 20px;
	font-size: 20px;
	text-shadow: none;
}

.carousel-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

	.carousel,
	.carousel-inner,
	.carousel-item,
	.carousel-item img {
		height: 70vh;
		width: 100%;
		object-fit: cover;
	}

.carousel-control-prev,
.carousel-control-next {
	display: none;
}

.carousel-indicators [data-bs-target] {
	background-color: gold;
	width: 10px;
	height: 10px;
	border-radius: 50%;
}
